.Footer{
  background: #020621;
  min-height: 100px;
  color: #F7F7F9;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 30px;
}
.Footer h4{
  font-size: 14px;
  color: white;
}
.footer-top{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 30px 0;
}
